{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Столы{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block main %}
    <table class="datagrid">
        <thead>
        <tr>
            <td>Id</td>
            <td>Номер стола</td>
            <td>Описание</td>
            <td>Макс. количество человек</td>
            <td>Гостей</td>
            <td>Присутствующих гостей</td>
        </tr>
        </thead>
        <tbody>
        {% for table in tables %}
            <tr>
                <td>{{ table.tableNumber }}</td>
                <td>{{ table.description }}</td>
                <td>{{ table.maxPeople }}</td>
                <td>{{ table.guests }}</td>
                <td>{{ table.guestsIn }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}